.e-color-picker {
    .color-container {
        background-color: currentColor;
        height: 26px;
        min-width: 26px;
        width: 100%;
    }

    .e-select__selection {
        .color-container {
            width: 26px;
            margin: auto;

            @include _xs {
                width: 16px;
                min-width: 16px;
                height: 16px;
                margin: auto;
            }
        }
    }

    .e-menu {
        left: 0;

        &__content {
            .e-list {
                flex-direction: row;
                flex-wrap: wrap;
                display: flex;

                &-item {
                    flex: 1 1 auto;
                    min-height: auto;
                    padding: 0 4px;

                    &__content {
                        justify-content: center;
                        padding: 4px 0;
                    }

                }
            }
        }
    }
}