@use "drocket/setting.scss" with ($e-bar-padding-y: 0px,
    $btn-border-width: 1px,
    $border-radius-root: 4px,
    $colors: ("primary": #00af67,
        "green": #068f57,
        "blue": #00d3ee,
        "salmon":#f28773,
        "carnation":#F24949,
        "error":#e30425,
        "warning": #ffa21a,
        "purple": #AF2CC5,
        "secondary": #2c373c,
        "input": #4f636b,
        "input-placeholder": #b7b9ba,
        "input-border": #e3e9eb,
        "label": #536e7d,
        "list-color": #536e7d,
        "black": #101418,
        "root-color": #4f636b,
        "disabled": #b7b9ba,
        "grey": #91a0a8,
        "white": white,
        "margin": #ffcc80,
        "padding": #c5e1a5,
    ),
    $btn-height: ("x-small": 2rem,
        "small": 2.5rem,
        "default": 3rem,
        "large": 3.125rem,
        "x-large": 3.5rem,
    ))