@include font('icomoon', 'assets/fonts/icomoon', 'block');

.icon {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-view-grid:before {
  content: "\e914";
}

.icon-view-list:before {
  content: "\e915";
}

.icon-phone-msg:before {
  content: "\e913";
}

.icon-send-email:before {
  content: "\e910";
}

.icon-email:before {
  content: "\e911";
}

.icon-account-cancel:before {
  content: "\e912";
}

.icon-wallet:before {
  content: "\e90f";
}

.icon-account-check:before {
  content: "\e90d";
}

.icon-account-edit:before {
  content: "\e90e";
}

.icon-chevron-down:before {
  content: "\e903";
}

.icon-chevron-left:before {
  content: "\e904";
}

.icon-chevron-right:before {
  content: "\e905";
}

.icon-chevron-up:before {
  content: "\e906";
}

.icon-close:before {
  content: "\e907";
}

.icon-pencil-off:before {
  content: "\e908";
}

.icon-credit-card:before {
  content: "\e909";
}

.icon-dashboard:before {
  content: "\e90a";
}

.icon-menu:before {
  content: "\e90b";
}

.icon-pencil:before {
  content: "\e902";
}

.icon-dots-vertical:before {
  content: "\e90c";
}

.icon-phone:before {
  content: "\e901";
}

.icon-dollar:before {
  content: "\e900";
}

.icon-providers:before {
  content: "\eaed";
}

.icon-booking:before {
  content: "\e92c";
}

.icon-customer-info:before {
  content: "\e931";
}

.icon-customer:before {
  content: "\eaaf";
}

.icon-accounting:before {
  content: "\eaa1";
}

.icon-human-resources:before {
  content: "\ea91";
}

.icon-cleaning:before {
  content: "\ea3d";
}

.icon-direction:before {
  content: "\ea78";
}

.icon-operations:before {
  content: "\ea7b";
}

.icon-remuneration:before {
  content: "\ea09";
}

.icon-ads:before {
  content: "\e9f1";
}

.icon-schedule-timeslot:before {
  content: "\e9db";
}

.icon-coffee:before {
  content: "\e9dd";
}

.icon-calendar:before {
  content: "\e9be";
}

.icon-trash:before {
  content: "\e9d1";
}

.icon-maintenance:before {
  content: "\e9b9";
}

.icon-staff:before {
  content: "\e969";
}

.icon-checking:before {
  content: "\e96b";
}

.icon-events:before {
  content: "\e96d";
}

.icon-holidays:before {
  content: "\e96e";
}

.icon-message:before {
  content: "\e96f";
}

.icon-replacements:before {
  content: "\e970";
}

.icon-reports:before {
  content: "\e98c";
}

.icon-schedule:before {
  content: "\e9b1";
}

.icon-sessions:before {
  content: "\e9b2";
}

.icon-room-instructor:before {
  content: "\e9ae";
}

.icon-admin:before {
  content: "\e972";
}

.icon-mouse:before {
  content: "\eac8";
}

.icon-table-check:before {
  content: "\eac9";
}

.icon-instructor:before {
  content: "\eace";
}

.icon-personal-trainer:before {
  content: "\ead3";
}

.icon-reception:before {
  content: "\ead6";
}

.icon-notification:before {
  content: "\eae0";
}

.icon-document:before {
  content: "\eaeb";
}

.icon-search:before {
  content: "\eb10";
}

.icon-logout:before {
  content: "\eb44";
}

.icon-incidents:before {
  content: "\eb47";
}