.nav {
  &__header {
    color: white;
  }
  &__body {
    overflow-x: hidden;
    overflow-y: auto;

    .e-list {
      &-item {
        text-transform: capitalize;
        &--text {
          pointer-events: none;
          text-transform: uppercase;
          font-weight: 500;
        }
      }
    }
  }
}

// @include _xs {
//   html {
//     --root-font-size: 15.2px;
//   }
// }

// @include _sm {
//   html {
//     --root-font-size: 15.4px;
//   }
// }

// @include _md {
//   html {
//     --root-font-size: 15.6px;
//   }
// }
